*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #00ffaa;
  color: #504945;
  line-height: 1.5;
}

img {
  width: 352px;
  height: 240px;
  object-fit: cover;
  display: block;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gallery {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form {
  text-align: center;
  background-color: #000000;
  padding: 30px;
  margin-bottom: 30px;
}

.search-form input {
  max-width: 100%;
  padding: 8px 15px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.search-form input:hover,
.search-form input:focus {
  border: 2px solid #458588;
  outline: none;
}

.search-form button {
  cursor: pointer;
  font-family: inherit;
  max-width: 100%;
  padding: 8px 15px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.search-form button:hover,
.search-form button:focus {
  border: 2px solid #458588;
  background-color: #000000;
  color: white;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more {
  cursor: pointer;
  display: block;
  max-width: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px 15px;
  margin: 30px auto;
}

.load-more:hover,
.load-more:focus {
  border: 2px solid #458588;
  background-color: #000000;
  color: white;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.info-item {
  margin-bottom: 0;
}
.on-top-button {
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #000000;
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.on-top-button--visible {
  opacity: 1;
  visibility: visible;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  --webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
